@font-face {
    font-family: 'Christmas-Bell';
    src: url("../font/Christmas_Bell.otf") format("opentype");
}

body {
    font-family: 'Christmas-Bell';
    background-image: url('../img/background.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 2.42vh;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.red {
    color: red;
    animation-delay: 0s !important;
    filter: hue-rotate(0deg) saturate(100%);
}

.green {
    color: green;
    animation-delay: 0.2s !important;
    filter: hue-rotate(120deg) saturate(100%);
}

.blue {
    color: blue;
    animation-delay: 0.4s !important;
    filter: hue-rotate(240deg) saturate(100%);
}

.yellow {
    color: yellow;
    animation-delay: 0.6s !important;
    filter: hue-rotate(60deg) saturate(100%);
}

.box {
    font-size: 6vh;
    margin: 0 10px;
    animation: bounce 1s infinite alternate;
}


/* Bouncing effect */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50px);
    }
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: 100vh;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.bottom-gift-box {
    background-image: linear-gradient(to bottom, rgb(210 31 31 / 44%), rgb(16 192 232 / 59%)), url(../img/backgound1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2.4em;
    clip-path: polygon(30% 0, 70% 0, 100% 20%, 100% 100%, 80% 100%, 20% 100%, 0 100%, 0% 20%);
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.welcome h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #19e6ff;
    text-shadow: 1px 1px 0 #26bab4, 2px 2px 0 #26f3569e, 3px 3px 0 #82e32a, 4px 4px 0 #79c51f, 5px 5px 0 #ddce4c, 6px 6px 0 #fff110;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to left, #ffffff 10%, #f09 50%, #ffffff 90%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 2s linear infinite;
    font-size: 8em;
    margin-bottom: 0;
    margin-top: 2rem;
}


@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.welcome h2 {
    background: linear-gradient(to top, #F8C7CD 0%, #e8d3d5 45%, #e3d5d7 55%, #fbf6f6 75%, rgba(0, 145, 163, 0.2) 85%, rgba(0, 145, 163, 0.2) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome p {
    font-size: 1.2em;
}

.countdown {
    margin-top: 20px;
    text-align: center;
    background: linear-gradient(to right, #ff7e5f99, #feb47b99);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.countdown p {
    margin: 0;
    margin-bottom: 1em;
}

#countdown {
    margin: 0;
    font-size: 2em;
    color: #da0000;
    font-weight: bold;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff;
    }
}

.quiz {
    margin: 2rem;
    padding: 2rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
    background-color: #ffffff;
    color: #333333;
    font-family: 'Times New Roman', Times, serif;
}

#options-section {
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
}

.option-button {
    padding: 1rem 2rem;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option-button:hover {
    background-color: #0056b3;
}


#result {
    margin-top: 2rem;
    color: #2e7d32;
    padding: 1rem;
    background: #e8f5e9;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

#question-section {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
}


.snow-canvas {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    pointer-events: none;
    z-index: 999;
}
#music-controls {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#music-controls button {
    padding: 10px;
    font-size: 1.5em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#music-controls button:hover {
    background-color: #0056b3;
}

#toggle-sound.playing {
    animation: sound-wave 1s infinite;
}
@keyframes sound-wave {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
#playgame {
    background-color: #007bff;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.2);
}

#playgame a {
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
}

#playgame a:hover {
    text-decoration: underline;
}
@media (max-width: 720px) {
    .welcome h2 {
        font-size: 1em;
    }

    .quiz {
        padding: 1.5rem;
        margin: 1rem;
    }

    button {
        font-size: 0.9rem;
        padding: 0.6rem 1rem;
    }

    #question-section {
        font-size: 1.2rem;
    }

    #result {
        font-size: 1rem;
    }
}
